<?xml version="1.0"?>
<robot name="mobile_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="components/mobile_base_macros.xacro"/>

  <xacro:property name="base_length" value="0.3"/>
  <xacro:property name="base_width" value="0.2"/>
  <xacro:property name="base_height" value="0.05"/>
  <xacro:property name="wheel_radius" value="0.04"/>
  <xacro:property name="wheel_length" value="0.02"/>

  <link name="world"/>

  <xacro:four_wheel_base
    prefix=""
    parent="world"
    base_xyz="0 0 ${base_height / 2.0 + 2.0 * wheel_radius}"
    base_length="${base_length}"
    base_width="${base_width}"
    base_height="${base_height}"
    wheel_radius="${wheel_radius}"
    wheel_length="${wheel_length}"/>
</robot>
